---
---

@import "{{ site.theme }}";

#downloads {
  display: none;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed $conifer; //header;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1:before {
  content: "./ ";
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}
